fastapi
uvicorn
python-multipart
langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-google-genai
huggingface-hub
langchain-huggingface
chromadb
langchain-chroma
pypdf
requests
python-dotenv
