fastapi
uvicorn
python-multipart
langchain
langchain-community
langchain-core
langchain-text-splitters
mistralai
langchain-mistralai
huggingface-hub
langchain-huggingface
chromadb
langchain-chroma
pypdf
requests
python-dotenv

